<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Search Results
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
          <h1> <font color = "#85B27A"> All Stories </font> </h1>
      </font>
      {%for item in display%}
      <ul>
        <li><a href="/editstory?value={{item}}">{{item}}</a></li>
      </ul>
      {% endfor %}
        </center>
          {% endblock %}
    </body>
</html>
