<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Search Results
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor = "#FAE1DC">
    <font face = "courier new">
      <center>
        <h1> <font color = "#85B27A"> All Stories </font> </h1>
      </center>
        {%for item in display%}
        <ul>
          <li>{{item}}</li>
        </ul>
        {% endfor %}
        <center>
            {% endblock %}
    </font>
  </center>
  </body>
</html>
