<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Search Results
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
          <h1> <font color = "#85B27A"> All Stories </font> </h1>
      {%for item in display%}
      <ul>
          <li><a href="/editstory?value={{item|urlencode()}}">{{item}}</a>
            <input type="button" onclick="location.href='/close?value={{item|urlencode()}}';" value="Close Story" name={{item}}>
            <input type="button" onclick="location.href='/tagedit?value={{item|urlencode()}}';" value="Edit Tags" name={{item}}>
            <input type="button" onclick="location.href='/delete?value={{item|urlencode()}}';" value="Delete Story" name={{item}}>
          </li>
      </ul>
      {% endfor %}
        </center>
          {% endblock %}
        </font>
    </body>
</html>
