<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Search Results
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
          <h1> <font color = "#85B27A"> All Stories </font> </h1>
      {%for item in display%}
      <ul>
          <li><a href="/editstory?value={{item|urlencode()}}">{{item}}</a>
          </li>
      </ul>
      {% endfor %}
        </center>
          {% endblock %}
        </font>
    </body>
</html>
