<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Welcome!
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor="#FAE1DC">
    <font face="courier new">
      <center>
        <br>
        <h3> <font color = "#736AFF"> Sorry, but due to the content of the story, this story has been deleted. :( </font> </h3>
        <input type="button" onclick="location.href='/mystories';" value="Back to My Stories">
      </center>
        <br>
        </font>
      </body>
      <center>
      {% endblock %}
  </center>

</html>
