<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> My Library </title>
    <font face = "courier new">
      <p><a href="/mystories">My Stories</a> | <a href="/addstory">New Story</a> | <a href="/search">Search Stories</a> | <a href="/logout">Logout</a></p>
    </font>
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
        <h1> <font color = "#736AFF"> My Stories </font> </h1>
        <form>
          <input type = "button" onclick= "location.href='/addstory';" value = "Add a story">
        </form>
        <form>
          <input type = "button" onclick= "location.href='/search';" value = "Search Stories">
        </form>
      </font>
    </center>
  </body>
</html>
