<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> FoldOver </title>
  </head>
  <body>
    <center>
      <h1> My Stories </h1>
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href="#">/mystories</a>
          <a href="#">/search</a>
          <a href="#">/logout</a>
        </div>
      </div>
      <form>
        <input type = "button" onclick= "location.href='/search';" value = "Search Stories">
      </form>
      <br>
      <br>
      <form>
        <input type = "button" onclick= "location.href='/logout';" value = "Logout">
      </form>
    </center>
  </body>
</html>
