<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Welcome!
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
  </head>
  <body bgcolor="#FAE1DC">
    <font face="courier new">
      <center>
        <br>
          Welcome, {{ name }}!
          <h1> <font color = "#736AFF"> My Stories </font> </h1>
      </center>
        {%for item in storycoll%}
          <ul>
              <li><a href="/fullstory?value={{item|urlencode()}}">{{item}}</a>
              </li>
        </ul>
        {% endfor %}
        <br>
    </font>
  </body>
  {% endblock %}
</font>
</html>
