<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> FoldOver </title>
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
        <h1> Log In </h1>
          <font color = "#C11B17">
            <p> {% set messages = get_flashed_messages() %}
              {% for message in messages %}
              {{ message }}
              {% endfor %}
            </p>
          </font>
        <form action = "/auth">
          <b> Username </b> <br>
          <input type = "username" name = "username">
          <br>
          <b> Password </b> <br>
          <input type = "password" name = "password">
          <br><br>
          <input type = "submit" name = "sub1">
        </form>
        <br>
        <br>
        <br>
        <form>
          <input type = "button" onclick= "location.href='/signup';" value = "Sign Up">
        </form>
      </font>
    </center>
  </body>
</html>
