<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Search </title>
    <font face = "courier new">
      <p><a href="/mystories">My Stories</a> | <a href="/addstory">New Story</a> | <a href="/search">Search Stories</a> | <a href="/logout">Logout</a></p>
    </font>
  </head>
  <body>
    <center>
      <font face = "courier new">
        <h1> <font color = "#FF7F50"> Find A Story </font> </h1>
        <form action = "/searchresults">
          <big><big> <b> Keywords </b> </big></big><br>
          <small>Separate keywords by commas</small>
          <br>
          <textarea cols = "50"
            <input type = "search" name = "keywords">
          </textarea>
          <br><br>
          <big><big> <b> Tags </b> </big></big><br>
          <textarea cols = "50"
            <input type = "search" name = "tags">
          </textarea>
          <br><br>
          <input type = "submit" name = "sub1">
        </form>
        <br><br><br>
        <b> All Stories </b>
      </font>
    </center>
  </body>
</html>
