<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Search
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    <title> Search </title>
    {% block body %}
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
        <h1> <font color = "#FF7F50"> Find A Story! </font> </h1>
        <form action = "/searchresults" method="POST">
          <big><big> <b> Keywords </b> </big></big><br>
          Separate keywords with a space.
          <br><br>
          <textarea cols = "50" name = "keywords"></textarea>
          <br><br>
          <big><big> <b> Tags </b> </big></big><br>
          Tags should be formatted with pound signs, ex: #fantasy. Separate all tags with a space.
          <br><br>
          <textarea cols = "50" name = "tags"></textarea>
          <br>
          <input type = "submit" name = "sub1" value = "Search">
        </form>
        <br><br><br>
        {% endblock %}
      </font>
    </center>
  </body>
</html>
