<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> Join FoldOver </title>
  </head>
  <body>
    <center>
      <font face = "courier new">
        <h1> <font color ="#52D017"> Sign Up </font> </h1>
        <font color =  "#C11B17">
          <p> {% set messages = get_flashed_messages() %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
          </p>
        </font>
        <form action = "/signupcheck">
          <b> Username  </b> <br>
          <input type = "username" name = "username">
          <br><br>
          <b> Password </b> <br>
          <input type = "password" name = "password">
          <br><br>
          <b> Re-enter Password </b> <br>
          <input type = "password" name = "passwordagain">
          <br><br>
          <input type = "submit" name = "sub1" value = "Join FoldOver">
        </form>
      </font>
    </center>
  </body>
</html>
