<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <title> FoldOver </title>
  </head>
  <body>
    <h1> Sign Up </h1>
    <form action = "adduser.php">
      Username<br>
      <input type = "username" name = "username">
      <br>
      Password<br>
      <input type = "password" name = "password">
      <br>
      Re-enter Password<br>
      <input type = "password" name = "passwordagain">
      <br>
      <input type = "submit" name = "sub1" value = "Make Account">
    </form>
  </body>
</html>
