<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Edit a story!
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
		<title> Story Editing </title>
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<h1> Edit a story! </h1>
			</font>
			<form action = "/viewstory" method = "POST">
				<big><b> Previous Entry: </b></big>
				<br>
				{{previous_edit | safe}}
				<br><br>
				<b>Edit Rules<b>:
				<br>
				<ul>
					<li> Please do not use the pipe symbol ("|") </li>
					<li> You may use HTML tags in your text </li>
				</ul>
				<br>
				<big><b> Your Entry: </b></big>
				<br>
				<textarea cols = "50" name="new_entry">
				</textarea>
				<br>
				<input type = "submit" name = "sub1" value = "Publish">
				<br>
			</form>
			{% endblock %}
		</center>
	</body>
</html>
