<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Story Creation
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
    </font>
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
        <font color = "#43BFC7">
          <h1> Create A New Story! </h1>
        </font>
        <font color =  "#C11B17">
          {% set messages = get_flashed_messages() %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </font>
        <form action = "/story" method = "POST">
          <big> <b> Story Title: </b>  </big>
          <br>
          <textarea cols = "50" name="story_title"></textarea>
          <br><br>
          <big> <b> Tags: </b> </big>
          <br>
          Tags should be formatted with pound signs, ex: #fantasy. Separate all tags with a space.
          <br><br>
          <textarea cols = "50" name="tags"></textarea>
          <br><br>
          <big> <b> First Entry: </b> </big>
          <br>
          <textarea rows = "12" cols = "100" name="entry_1"></textarea>
          <br>
          <input type = "submit" name = "sub1" value = "Publish">
        </form>
        {% endblock %}
      </font>
    </center>
  </body>
</html>
