<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Edit a story!
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
		<title> Story Editing </title>
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
					<font color = "#C12283">
						<h1> Edit A Story! </h1>
					</font>
					<font color =  "#C11B17">
					<big>Edit Rules: Please do not use the pipe symbol ("|"). You may use HTML tags in your text. You are limited to 600 characters.</big>
					</font>
				<form action = "/viewstory" method = "POST">
					<br>
					<big><big> <b> {{ title }} </b> </big></big><br><br>
					<big> Previous Entry: </big>
					<br><br>
					{{previous_edit | safe}}
					<br><br><br>
					<big> Your Entry: </big>
					<br>
					<textarea rows = "12" cols = "100" maxlength = "600" name="new_entry"> </textarea>
					<br>
					<input type = "submit" name = "sub1" value = "Publish">
					<br>
				</form>
				{% endblock %}
		</font>
		</center>
	</body>
</html>
