<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Welcome!
{% endblock %}
<html>
  <head>
    <meta charset="utf-8"/>
    {% block body %}
    </font>
    <title> Story Creation </title>
  </head>
  <body bgcolor = "#FAE1DC">
    <center>
      <font face = "courier new">
        <font color = "#43BFC7">
          <h1> Create a new story! </h1>
        </font>
        <form>
          <big> <b> Story Title: </b>  </big>
          <br>
          <textarea cols = "50"
            <input type="text" name="story_title">
          </textarea>
          <br><br>
          <big> <b> Tags: </b> </big>
          <br>
          Tags should be formatted with pound signs, ex: #fantasy. Separate all tags with a space.
          <br><br>
          <textarea cols = "50"
            <input type="text" name="tags">
          </textarea>
          <br><br>
          <big> <b> First Entry: </b> </big>
          <br>
          <textarea rows = "12" cols = "100"
            <input type="text" name="entry_1">
          </textarea>
          <br>
          <input type = "submit" name = "sub1">
        </form>
        {% endblock %}
      </font>
    </center>
  </body>
</html>
