<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8"/>
    <p><a href="/mystories">My Stories</a> | <a href="/search">Search Stories</a> | <a href="/logout">Logout</a></p>
    <title> Story Creation </title>
  </head>
  <body>
    <center>
      <font face = "courier new">
        <h1> Create a new story! </h1>
        <form>
          <big> Story Title:  </big>
          <br>
          <textarea cols = "50"
            <input type="text" name="story_title">
          </textarea>
          <br><br>
          <big> Tags: </big>
          <br>
          Tags should be formatted like this: #fantasy. Separate all tags with a space.
          <br><br>
          <textarea cols = "50"
            <input type="text" name="tags">
          </textarea>
          <br><br>
          <big> First Entry: </big>
          <br>
          <textarea rows = "12" cols = "100"
            <input type="text" name="entry_1">
          </textarea>
          <br>
          <input type = "submit" name = "sub1">
        </form>
      </font>
    </center>
  </body>
</html>
