<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Editing Tags
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<font color = "#954535">
					<h1> Edit Tags! </h1>
				</font>
				<font color =  "#C11B17">
				<big>You can only delete one tag at a time, don't abuse this power. </big><br><br>
				</font>
			{% for tag in tag_list%}
				{{tag}} <input type="button" onclick="location.href='/deletetag?tag={{tag|urlencode()}}&story={{story_title|urlencode()}}';" value="Delete" name={{tag}}>
				<br>
			{% endfor %}
			<form method="GET" action="location.href='/addtag?story={{story_title|urlencode()}}';">
				<input type="text" name="new_tags">
				<button type="submit">Update Tags</button>
			</form>
		</center>
	{% endblock %}
	</body>
</html>
