<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Edit a story!
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
		<title> Tag Editor </title>
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<h1> Edit tags! </h1>
				You can only delete one tag at a time, don't abuse this power. <br>
			{% for tag in tag_list%}
				{{tag}} <input type="button" onclick="location.href='/deletetag?tag={{tag|urlencode()}}&story={{story_title|urlencode()}}';" value="Delete" name={{tag}}>
				<br>
			{% endfor %}
			<form method="GET" action="location.href='/addtag?story={{story_title|urlencode()}}';">
				<input type="text" name="new_tags">
				<button type="submit">Update Tags</button>
			</form>
		</center>
	{% endblock %}
	</body>
</html>
