<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Edit a story!
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
		<title> Tag Editor </title>
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<h1> Edit tags! </h1>
				You can only delete one tag at a time, don't abuse this power. <br>
			{% for tag in tag_list%}
				{{tag}} <input type="button" onclick="location.href='/deletetag?tag={{tag|urlencode()}}&story={{story_title|urlencode()}}';" value="Delete" name={{item}}>
				<br>
			{% endfor %}
				<input type="text" name="new_tags">
				<input type="submit" name="sub1" value = "Update Tags">
		</center>
	{% endblock %}
	</body>
</html>
