<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
Story Viewing
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<font color = "#2554C7">
					<h1> View A Story! </h1>
				</font>
			<h2> {{ title }} </h2>
			<br><b>
			{% for tag in tag_list%}
				{{tag}}
			{% endfor %}</b>
			<br>
			<br>
			<br>
			{{ entire_story | safe | replace("|","")}}
			<br><br>
			<br><br>
			<br><br>
			{% endblock %}
		</font>
		</center>
	</body>
</html>
