<!DOCTYPE html>
{% extends 'template.html' %}
{% block title %}
View a story!
{% endblock %}
<html>
	<head>
		<meta charset="utf-8">
		{% block body %}
		<title> Story Viewing </title>
	</head>
	<body bgcolor = "#FAE1DC">
		<center>
			<font face = "courier new">
				<h1> View a story! </h1>
			</font>
			<h3> Title: </h3>
			<h1> {{ title }} </h1>
			<h3> Story: </h3>
			<h1>-----------------------------------------------------</h1>
			<br>
			{{ entire_story | safe | replace("|","")}}
			<br>
			<h1>-----------------------------------------------------</h1>
			{% endblock %}
		</center>
	</body>
</html>
